body {
  margin: 0;
  padding: 0;
  background-image: url('/src/assets/background2.png'); /* Atualize o caminho caso necessário */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  color: #e20000;
}
