<div class="home-container">
  <div class="row header align-items-center justify-content-center">
    <div class="titulo col-md-12">
      <h1 class="title">BEM VINDO</h1>
      <h2 class="subtitle">AO</h2>
      <h3 class="brand">SOLIM</h3>
    </div>
  </div>
  <div class="row align-items-end justify-content-around content">
    <div class="solim col-md-6">
      <img src="/assets/solim.png" alt="Solim" class="solim" />
      <div class="texto-legal"></div>
    </div>
    <div class="chat-box row col-md-6">
      <div class="chat-dialog col-md-12">
        <div class="chat-titulo">Chat</div>
        <div class="chat-messages" id="chat-messages">
          <!-- Exibe as mensagens -->
          <div *ngFor="let mensagem of mensagens" [class.user]="mensagem.remetente === 'user'" [class.bot]="mensagem.remetente === 'bot'">
            {{ mensagem.texto }}
          </div>
        </div>
        <div class="chat-input">
          <input type="text" [(ngModel)]="novaMensagem" placeholder="Digite sua mensagem..." />
          <button (click)="enviarMensagem()">Enviar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row footer">
    <div class="col-md-12"><span>Solim</span> - <span>Versão 1.0</span></div>
  </div>
</div>
